<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FLInfocardIE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FLObjectHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FLInfocardIE.Properties.Settings>
            <setting name="setFlDir" serializeAs="String">
                <value>C:\Discovery\FreelancerSDK</value>
            </setting>
        </FLInfocardIE.Properties.Settings>
        <FLObjectHelper.Properties.Settings>
            <setting name="setFlDir" serializeAs="String">
                <value>C:\Program Files\Microsoft Games\Freelancer\</value>
            </setting>
        </FLObjectHelper.Properties.Settings>
    </userSettings>
</configuration>