html {
    background-image: url(../images/blue_space_with_planets_by_darkdissolution-updCont.jpg);
    background-size: cover;
	background-repeat: no-repeat;
	background-color: rgb(9, 15, 24);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body {
	margin: 0;
	padding: 0em;
	/* fixes a font rendering issue on OS X */
	-webkit-font-smoothing: subpixel-antialiased;
	background: rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.navContainer {
	height: 2em;
	vertical-align: center;
	position: relative;
	top: 0em;
	text-align: center;
	color: white;
	font-family: "Agency FB", "Oswald", sans-serif;
	margin: 0 auto;
	border: 0.2em solid rgb(30, 166, 197);
	z-index: 99;
	background: url("../images/nnwall.jpg") black;
	padding: 0;
	line-height: 1em;
}

.mapLegend {
	position: absolute;
	width: 59em;
	height: 2em;
	z-index: 8;
	background: #000 url("../images/nnwall.jpg") repeat scroll 0% 0%;
	box-shadow: 0em 0em 0.5em 0em #1EA6C5;
	border: 0.2em solid #1EA6C5;
	color: #FFF;
	font-family: "Agency FB","Oswald",sans-serif;
	left: 2.35em;
	top: 3.6em;
}

.mapLegend .system {
	top: 0.9em;
	position: relative;
	left: 0.9em;
}

.mapLegend .system label {
	position: absolute;
	left: 1.5em;
	top: -0.25em;
}

.mapLegend .systemLegendContainer {
	float: left;
	height: 2.2em;
	position: relative;
	white-space: nowrap;
	width: 9.65%;
}

#configButton {
	position: absolute;
	right: 32.75em;
	top: 0.5em;
}

#screenshotButton {
	position: absolute;
	left: 23.5em;
	top: 0.5em;
}

.configMenu {
	position: absolute;
	height: auto;
	z-index: 9;
	background: #000 url("../images/nnwall.jpg") repeat scroll 0% 0%;
	box-shadow: 0em 0em 0.5em 0em #1EA6C5;
	border: 0.2em solid #1EA6C5;
	color: #FFF;
	font-family: "Agency FB","Oswald",sans-serif;
	opacity: 1;
	top: 3.6em;
	transition: top 1s ease, opacity 1s ease;
}

.configMenu.closed {
	top: -100vh !important;
	transition: z-index 1s ease, top 1s ease, opacity 1s ease;
	z-index: -1;
	opacity: 0;
}

.mapContainer {
	overflow: hidden;
	position: absolute;
	top: 2.4em;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(9, 15, 24);
}

.map {
	position: relative;
	height: 60em;
	width: 60em;
	margin: 0 auto;
	/* border: border: 0.22em rgb(25, 47, 96) solid; */
	box-sizing: border-box;
    box-shadow: 0 0 1em 0.1em rgb(25, 47, 96);
	border-radius: 0em;
	/* background-color: rgb(30, 167, 198); */
	overflow: hidden;
	overflow: -moz-hidden-unscrollable;
	overflow: -webkit-hidden-unscrollable;
	/* assign to paint layer */
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* IE/Edge */
	user-select: none;           
}

.grid .darkOverlay {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
}

.contents {
	height: 75%;
	width: 75%;
	position: absolute;
	margin-top: 50%;
	margin-left: 50%;
	color: white;
	font-family: "Agency FB", "Oswald", sans-serif;
	z-index: 5;
	border-radius: 0.1em;
}

.grid .mapScale h2 {
	color: white;
	font-family: "Agency FB", "Oswald", sans-serif;
	position: relative;
	top: -2em;
}

.grid .mapScale {
	position: absolute;
	right: 0.75%;
	bottom: 0.75%;
	width: 10.5%;
	border: solid #F3F3F3 0.2em;
	box-sizing: border-box;
	border-top: none;
	height: 1%;
	text-align: center;
}

.grid .mapScale .arrowHead {
	position: absolute;
	border-top: 0.2em solid white;
	border-left: 0.2em solid white;
	height: 0.3em;
	width: 0.3em;
	bottom: -0.3em;
	display: none;
}

.grid .mapScale.arrows {
	border-left: none !important;
	border-right: none !important;
	border-bottom-style: dashed !important;
	bottom: 1% !important;
}

.grid .mapScale.arrows .arrowHead {
	display: block !important;
}

.grid .mapScale .arrowL.arrowHead {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	left: 0;
}

.grid .mapScale .arrowR.arrowHead {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	right: 0;
}

.infocardContainer {
	text-align: center;
	color: white;
	font-family: "Agency FB", "Oswald", sans-serif;
	border: 0.2em solid rgb(30, 166, 197);
	box-shadow: 0em 0em 0.5em 0em rgb(30, 166, 197);
	z-index: 0;
	background: url("../images/nnwall.jpg") black;
	border-radius: 0.5em;
}

.infocardContainer * {
	text-align: center;
	margin: 0 auto;
	width: auto;
	padding: 0.25em;
}

.infocardContainer h2 {
	width: auto;
}

.systemTitle {
	position: absolute;
	bottom: 0.1em;
	color: white;
	text-align: center;
	width: 100%;
	font-family: "Agency FB", "Oswald", sans-serif;
	font-size: 3em;
	padding: 0;
	margin: 0;
	color: rgb(135, 195, 224);
}

.system {
	height: 0.65em;
	width: 0.65em;
	background-color: rgb(36, 36, 36);
	border: 0.15em solid;
	border-radius: 100%;
	margin-top: -0.325em;
	margin-left: -0.325em;
}

.system label {
	font-size: 0.8em;
}

.system.ew {
	border-color: #C35B2B;
}

.system.bw {
	border-color: #959597;
}

.system.ku {
	border-color: #FED433;
}

.system.li {
	border-color: #2299F5;
}

.system.br {
	border-color: #BD3035;
}

.system.rh {
	border-color: #00AD1D;
}

.system.hi {
	border-color: #A42AFA;
}

.system.st {
	border-color: #368674;
}

.system.iw {
	border-color: #DBDBDB;
}

.system.ga {
	border-color: rgb(89, 97, 255);
}

.zone {
	background-color: rgba(255,255,255,0.1);
	box-shadow: 0 0 0.1em 0.1em rgba(255,255,255,0.15);
}

.zone.roundZone {
	border-radius: 100%;
}

.zone.squareZone {
	border-radius: 0;
}

.zone.noInfo.noZoneType  {
	display: none;
}

.zone.noInfo label {
	display: none;
}

.zone.noInfo.mineable label {
	display: block;
}

.zone.noInfo.mineable, zone.mineable {
	display: block;
	z-index: 0;
}

.zone.zoneExclusion1, .zone.zoneExclusion2, .zone.zoneExclusion3 {
	background-color: rgba(0,0,0,0.3) !important;
	box-shadow: 0 0 0.1em 0.05em rgba(0, 0, 0, 0.3);
}

.zone.zoneMinefield2 {
	background-image: url("../textures/worn-dots.png");
	background-size: 10em 10em;
}

.zone.zoneDresdenFog, .zone.zoneLeedsSmog, .zone.zoneChugokuCloud, .zone.undefined {
	background-image: url("../textures/snow.png");
	background-size: 5em 5em;
}

.zone.zoneDresdenLavaRocks {
	background-image: url("../textures/white-texture.png");
	background-size: 5em 5em;
}

.zone.zoneAlphaBigDust {
	background-image: url("../textures/vintage-speckles.png");
	background-size: 10em 10em;
}

.zone.reusethissomewhere {
	background-image: url("../textures/wall-4-light.png");
}

.zone.zoneRock, .zone.zoneLeedsUraniumAsteroids, .zone.zoneDublinGoldField, .zone.zoneGreenAsteroids {
	background-image: url("../textures/rocky-wall.png");
	background-size: 25em 25em;
}

.zone.zoneIceAsteroids1, .zone.zoneIceAsteroidsTau37, .zone.zoneIceAsteroidsSmall {
	background-image: url("../textures/white-texture.png");
}

.zone.zoneDetroitDebrisHigh {
	background-image: url("../textures/debrisTexture127.png");
	background-size: 3em 3em;
}

.zone.zoneDetroitDebrisNormal {
	background-image: url("../textures/debrisTexture127.png");
	background-size: 5em 5em;
}

.pos, .name {
	display: none !important;
}

.tradelane label {
	display: none !important;
}

.jump {
	width: 0.5em;
	height: 0.5em;
	margin-top: -0.25em;
	margin-left: -0.25em;
	border-radius: 100%;
}

.wreck {
	width: 0.4em;
	height: 0.4em;
	margin-top: -0.2em;
	margin-left: -0.2em;
	background-image: url("../textures/Red_X.svg");
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
}

.wreck:hover {
	background-color: rgba(237, 112, 7, 0.8);
}

.wreck.hidden, .zone.hidden, .system.hidden, .systemConnectionProp.hidden, label.hidden {
	display: none !important;
}

.zone.mineable label.hidden {
	display: block !important;
}

.zone.mineable label.labelDisabled.hidden {
	display: none !important;
}

.contents div {
	white-space: nowrap;
}

.contents div label.labelDisabled {
	display: none !important;
}

.contents div label {
	display: inline-block;
	position: absolute;
	top: 1em;
	left: -1em;
	white-space: nowrap;
	z-index: 7;
	text-shadow: 0em 0em 0.3em black !important;
}

.contents div.object label {
	top: 130%;
}

.contents div.object.planet label {
	top: 110%;
}

.contents div.object.dockable.planet label::after {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f090";
	margin-left: 0.25em;
	font-size: 0.75em;
	vertical-align: baseline;
	position: relative;
	bottom: 0.1em;
}

.contents div.object.star label {
	top: 110%;
}

.showAllObjects .object.unclassified,
.showAllObjects .object.jump.unusableJump {
	display: block !important;
}

.showAllObjects.showAllObjectLabels .object.unclassified label:not(.labelDisabled) {
	display: block !important;
}

.object.unclassified {
	display: none;
	width: 0.2em;
	height: 0.2em;
	margin-top: -0.1em;
	margin-left: -0.1em;
	border-radius: 0.1em;
	background: #4B8BCC;
	z-index: -1;
}

.object.unclassified[data-ids-info] {
	width: 0.275em;
	height: 0.275em;
	margin-top: -0.1375em;
	margin-left: -0.1375em;
	background: #EC7F1F;
}

.object.unclassified label,
.object.noName label,
.object:not([data-ids-info]) label{
	display: none;
}

.object.jump:not([data-ids-info]) label {
	display: block;
}

.showInfocardedObjectLabels .object.unclassified[data-ids-info] label {
	display: block;
}

.contents div[data-ids-info],
.contents div[data-ids-info] label,
.contents div[data-system-nickname],
.contents div[data-system-nickname] label,
#configButton,
.contents div[data-jump-dest],
.contents div[data-jump-dest] label,
#screenshotButton,
.editLink,
.contents div.mineable,
.contents div.mineable label,
.scrollUpButton {
	cursor: pointer;
}

.contents div[data-ids-info]:hover,
.contents div[data-jump-dest]:hover,
.contents div[data-system-nickname]:hover,
.contents div.mineable:hover {
	box-shadow: 0em 0em 0.4em 0.2em rgb(237, 112, 7), inset 0em 0em 0.15em 0em rgb(237, 112, 7);
	color: rgb(255, 167, 6);
}

.contents div[data-ids-info]:hover label,
.contents div[data-ids-info] label:hover,
.contents div[data-system-nickname]:hover label,
.contents div[data-system-nickname] label:hover,
.contents div[data-jump-dest]:hover label,
.contents div[data-jump-dest] label:hover,
.contents div.mineable:hover label,
.contents div.mineable label:hover,
.navContainer #showUniverseMap:hover,
.navContainer #helpLink:hover,
a:hover,
#configButton:hover,
#screenshotButton:hover,
.editLink:hover,
.scrollUpButton:hover {
	text-shadow: 0em 0em 0.1em black !important;
	color: rgb(255, 167, 6);
	z-index: 9;
}

.contents div[data-ids-info]:hover label,
.contents div[data-ids-info] label:hover,
.contents div[data-jump-dest]:hover label,
.contents div[data-jump-dest] label:hover,
.contents div.mineable:hover label,
.contents div.mineable label:hover
.contents div.system:hover label,
.contents div.system label:hover,
.contents div[data-system-nickname]:hover label,
.contents div[data-system-nickname] label:hover {
	box-shadow: 0 0 0.05em 0.1em rgba(0,0,0,0.45);
	background-color: rgba(0,0,0,0.45);
	border-radius: 0.2em;
}

.contents div[data-ids-info] label,
.contents div.mineable label {
	line-height: 1em;
	margin-top: 0.2em;
}

.editLink {
	color: #FFF;
}

.editLink:visited {
	color: #FFF;
}

a {
	color: #FFF;
}

a {
	color: #FFF;
}

.systemConnection {
	z-index: -1;
	margin-left: 0.125em;
	margin-top: 0.125em;
}

.systemConnection div {
	width: 0.125em;
	background-color: rgba(143, 192, 255, 0.5);
	margin-left: -0.0625em;
}

.systemConnection.jgConnection div {
	/* box-shadow: 0px 0px 0.4em 0.05em rgba(69, 150, 255, 0.8);*/
	box-shadow: 0px 0px 0.3em 0.1em rgba(69, 150, 255, 0.5);
	background-color: rgba(69, 150, 255, 0.9);
}

.systemConnection.oneWayConnection div::after {
	content: '';
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	position: absolute;
	border-bottom: 0.2em solid rgba(69, 150, 255, 0.9);
	border-left: 0.2em solid rgba(69, 150, 255, 0.9);
	height: 0.3em;
	width: 0.3em;
	bottom: 50%;
	display: block;
	margin-bottom: -0.3em;
	margin-left: -0.175em;
}

.systemConnectionProp.highlightedConnection {
    filter: drop-shadow(0em 0em 0.15em rgba(255,255,255,0.5)) brightness(1.2) saturate(1.25);
}

.systemConnectionProp:not(.jgConnection) .systemConnectionProp.highlightedConnection {
    filter: drop-shadow(0em 0em 0.1em rgba(255,255,255,0.5)) brightness(1.1) drop-shadow(0em 0em 0.15em white);
}

/* yellow?
.systemConnection.jgConnection div {
	box-shadow: 0px 0px 0.2em 0.04em rgba(255, 250, 143, 0.5);
	background-color: rgba(255, 250, 143, 0.5);
}*/

.contents div.object[data-ids-info]:hover {
	z-index: 9;
}

.jump.hole {
	background: red;
	/* box-shadow: 0em 0em 0.025em 0.3em rgba(0, 0, 0, 0.42); */
}

.jump.gate {
	background: gray;
}

.zoomedIn .contents div label {
    transform: scale(0.7) translateY(-0.5em);
}

.zoomedIn .hzGridLine h3,
.zoomedIn .vertGridLine h3,
.zoomedIn .zone.mineable label {
    font-size: 0.9em;
}

body[data-mapscale^="3"].zoomedIn .contents div label {
    transform: scale(0.6) translateY(-0.6em);
}

body[data-mapscale^="3"].zoomedIn .hzGridLine h3,
body[data-mapscale^="3"].zoomedIn .vertGridLine h3,
body[data-mapscale^="3"].zoomedIn .zone.mineable label {
    font-size: 0.6em;
}

body[data-mapscale^="4"].zoomedIn .contents div label {
    transform: scale(0.5) translateY(-0.8em);
}

body[data-mapscale^="4"].zoomedIn .hzGridLine h3,
body[data-mapscale^="4"].zoomedIn .vertGridLine h3,
body[data-mapscale^="4"].zoomedIn .zone.mineable label {
    font-size: 0.5em;
}

body[data-mapscale^="5"].zoomedIn .contents div label {
    transform: scale(0.4) translateY(-1.4em);
}

body[data-mapscale^="5"].zoomedIn .hzGridLine h3,
body[data-mapscale^="5"].zoomedIn .vertGridLine h3,
body[data-mapscale^="5"].zoomedIn .zone.mineable label {
    font-size: 0.4em;
}

.zoomedIn .jump.hole:hover,
.zoomedIn .jump.gate:hover,
.zoomedIn .base:hover,
.zoomedIn .tradelane:hover {
	background-color: rgba(237, 112, 7, 0.2) !important;
}

.zoomedIn .jump.hole {
	background: url(../images/map/nav_jumphole.3db-jumphole.png);
    background-size: contain;
	background-repeat: no-repeat;
	width: 0.8em;
	height: 0.8em;
	margin-top: -0.4em;
	margin-left: -0.4em;
}

.zoomedIn .jump.gate {
	background: url(../images/map/nav_jumpgate.3db-jumpgate.png);
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 0.6em;
	height: 0.6em;
	margin-top: -0.3em;
	margin-left: -0.3em;
}

.jump.unusableJump:not([data-ids-name]) {
	display: none;
}

.jump.gate.unusableJump {
	background-color: #6E3E3E;
}

.jump.hole.unusableJump {
	background-color: #6F1313;
}

.jump.unusableJump label {
	color: #BF5F5F;
}

/* nom jg styles and definitions start */

.systemConnection.jgConnection[data-connected-points~="st05"][data-connected-points~="st06"] div,
.systemConnection.jgConnection[data-connected-points~="st01"][data-connected-points~="st03"] div,
.systemConnection.jgConnection[data-connected-points~="bw17"][data-connected-points~="iw11"] div,
.systemConnection.jgConnection[data-connected-points~="li17"][data-connected-points~="no01"] div,
.systemConnection.jgConnection[data-connected-points~="st06"][data-connected-points~="st03"] div,
.systemConnection.jgConnection[data-connected-points~="st03"][data-connected-points~="st05"] div,
.systemConnection.jgConnection[data-connected-points~="st01"][data-connected-points~="st05"] div,
.systemConnection.jgConnection[data-connected-points~="st05"][data-connected-points~="st07"] div	{
	background-color: rgba(152, 69, 255, 0.9);
	box-shadow: 0px 0px 0.3em 0.1em rgba(152, 69, 255, 0.5);
}

/* nom jg styles and definitions end */

.star {
	width: 1em;
	height: 1em;
	border-radius: 100%;
	margin-top: -0.5em;
	margin-left: -0.5em;
	background: white;
	box-shadow: 0em 0em 2em 0.2em;
}

.tradelane {
	height: 0.2em;
	width: 0.3em;
	margin-top: -0.1em;
	margin-left: -0.15em;
	background-color: gray;
}

.zoomedIn .tradelane {
    height: 0.3em;
    width: 0.3em;
    margin-top: -0.15em;
    margin-left: -0.15em;
    background: url(../textures/nav_tlr.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.wPlatform {
	display: none;
}

.planet {
	border-radius: 100%;
	background-color: rgb(74, 74, 255);
	width: 0.6em;
	height: 0.6em;
	margin-top: -0.3em;
	margin-left: -0.3em;
	box-shadow: 0em 0em 0.4em 0em rgb(213, 220, 247);
	background-size: cover;
}

.planet:after, .star:after {
	content: "";
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0, rgba(0,0,0,0) 45%,rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.6) 90%, rgba(0,0,0,1) 100%);
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.atmosphere {
	border-radius: 50%;
	border: 1px solid red;
	z-index: -1;
	box-sizing: border-box;
}

.zone.roundZone.zoneMinefield2:after,
.zone.roundZone.zoneDresdenFog:after,
.zone.roundZone.zoneLeedsSmog:after,
.zone.roundZone.zoneChugokuCloud:after, 
.zone.roundZone.zoneDresdenLavaRocks:after,
.zone.roundZone.zoneAlphaBigDust:after,
.zone.roundZone.reusethissomewhere:after, 
.zone.roundZone.zoneRock:after,
.zone.roundZone.zoneLeedsUraniumAsteroids:after,
.zone.roundZone.zoneDublinGoldField:after,
.zone.roundZone.zoneGreenAsteroids:after,
.zone.roundZone.zoneIceAsteroids1:after,
.zone.roundZone.zoneIceAsteroidsTau37:after,
.zone.roundZone.zoneIceAsteroidsSmall:after,
.zone.roundZone.zoneDetroitDebrisHigh:after,
.zone.roundZone.zoneDetroitDebrisNormal:after {
	content: "";
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0, rgba(0,0,0,0) 45%,rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.4) 90%, rgba(0,0,0,0.8) 100%);
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	border-radius: 100%;
}

.object {
	transition: background 0.25s ease;
}

.base {
	height: 0.25em;
	width: 0.25em;
	margin-top: -0.125em;
	margin-left: -0.125em;
	background: white;
}

.object[data-archetype="nav_buoy"] {
    background: #36c9c2 !important;
	border-radius: 0em !important;
	margin-top: -0.2em;
	margin-left: -0.2em;
	transform: rotate(45deg);
	transform-origin: center center;
}

.zoomedIn .base {
	background-image: url(../images/map/nav_outpost.3db-outpost.png);
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	height: 0.4em;
	width: 0.4em;
	margin-top: -0.2em;
	margin-left: -0.2em;
}

.zoomedIn .base[data-archetype="Roid_Miner"] {
	background: url(../images/icons/miningship-edit.png);
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 0.4em;
	height: 0.4em;
	margin-top: -0.2em;
	margin-left: -0.2em;
}

.zoomedIn .base[data-archetype="largestation1"] {
	background-image: url(../images/icons/largespacestation.png);
}

.zoomedIn .base[data-archetype="smallstation1"],
.zoomedIn .base[data-archetype="smallstation1_old_conn"] {
	background-image: url(../images/icons/smallspacestation.png);
}

.zoomedIn .base[data-archetype="space_police01"],
.zoomedIn .base[data-archetype="space_police01_fighter"],
.zoomedIn .base[data-archetype="depot"] {
	background-image: url(../images/icons/depot.png);
}

.zoomedIn .base[data-archetype="l_dreadnought"] {
	background-image: url(../images/icons/Li_dreadnough_icon.png);
}

.zoomedIn .base[data-archetype="r_battleship"] {
	background-image: url(../images/icons/Rh_battleship_icon.png);
}
.zoomedIn .base[data-archetype="o_osiris"] {
	background-image: url(../images/icons/Or_osiris_icon.png);
}

.zoomedIn .base[data-archetype="dsy_venator_stationary"] {
	background-image: url(../images/icons/Sair_BS1_icon.png);
}

.zoomedIn .base[data-archetype="b_battleship"] {
	background-image: url(../images/icons/Br_battleship_icon.png);
}

.zoomedIn .base[data-archetype="dsy_dockable_ga2_battleship"] {
	background-image: url(../images/icons/Gallicbs_icon.png);
}

.zoomedIn .base[data-archetype="dsy_dockable_gallicc"],
.zoomedIn .base[data-archetype="dsy_gallicc"] {
	background-image: url(../images/icons/Gallicc_icon.png);
}

.zoomedIn .base[data-archetype="dsy_static_gal_liner"] {
	background-image: url(../images/icons/Gal_liner_icon.png);
}

.zoomedIn .base[data-archetype="dsy_zephyrbase"] {
	background-image: url(../images/icons/Zephyr-s_icon.png);
}

.zoomedIn .base[data-archetype="k_battleship"] {
	background-image: url(../images/icons/Ku_battleship_icon.png);
}

.zoomedIn .base[data-archetype="dsy_ku_bc_dockable"] {
	background-image: url(../images/icons/Kusari_bc_icon.png);
}

.zoomedIn .base[data-archetype="cou_battleship"],
.zoomedIn .base[data-archetype="ga_battleship"] {
	background-image: url(../images/icons/Gallicbs_icon.png);
}

.zoomedIn .base[data-archetype="dsy_jormungand_stationary"] {
	background-image: url(../images/icons/Jormungand.png);
}

.zoomedIn .base[data-archetype="dsy_dockable_rh_carrier"] {
	background-image: url(../images/icons/Rheinland_assault_carrier_icon.png);
}

.proxyBase {
	display: none !important;
}

.dockingRing, .mooringFixture {
	display: none !important;
}

.grid {
	width: 100%;
	height: 100%;
	background: url("../images/SiriusMap.jpg") black;
	background-size: cover !important;
	border-radius: 0em;
}

.grid .hzGridLine, .grid .vertGridLine {
	background: rgb(25, 47, 96);
	position: absolute;
	box-shadow: 0 0 1em 0.1em rgb(25, 47, 96);
}

.grid .vertGridLine {
	width: 0.1em;
	height: 100%;
}

.grid .hzGridLine {
	height: 0.1em;
	width: 100%;
}

.grid .hzGridLine:nth-of-type(1) {
	top: 12.5%;
}

.grid .hzGridLine:nth-of-type(2) {
	top: 25%;
}

.grid .hzGridLine:nth-of-type(3) {
	top: 37.5%;
}

.grid .hzGridLine:nth-of-type(4) {
	top: 50%;
}

.grid .hzGridLine:nth-of-type(5) {
	top: 62.5%;
}

.grid .hzGridLine:nth-of-type(6) {
	top: 75%;
}

.grid .hzGridLine:nth-of-type(7) {
	top: 87.5%;
}

.grid .vertGridLine:nth-of-type(8) {
	left: 12.5%;
}

.grid .vertGridLine:nth-of-type(9) {
	left: 25%;
}

.grid .vertGridLine:nth-of-type(10) {
	left: 37.5%;
}

.grid .vertGridLine:nth-of-type(11) {
	left: 50%;
}

.grid .vertGridLine:nth-of-type(12) {
	left: 62.5%;
}

.grid .vertGridLine:nth-of-type(13) {
	left: 75%;
}

.grid .vertGridLine:nth-of-type(14) {
	left: 87.5%;
}

.highlighter {
	border-radius: 100%;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	width: 1em;
	height: 1em;
	background: transparent;
	position: relative;
	border: 1px solid rgb(255, 167, 6);
	animation-name: highlight;
	-webkit-animation-name: highlight;
	animation-duration: 2s;
	-webkit-animation-duration: 2s;
	animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
	-webkit-animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
	animation-delay: 0s;
	-webkit-animation-delay: 0s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-direction: normal;
	-webkit-animation-direction: normal;
	animation-fill-mode: none;
	-webkit-animation-fill-mode: none;
	animation-play-state: running;
	-webkit-animation-play-state: running;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

@keyframes highlight {
	0% {
		width: 1em;
		margin-top: -0.5em;
		margin-left: -0.5em;
		height: 1em;
	}
	50% {
		width: 5em;
		margin-top: -2.5em;
		margin-left: -2.5em;
		height: 5em;
	}
	100% {
		width: 1em;
		margin-top: -0.5em;
		margin-left: -0.5em;
		height: 1em;
	}
}

@-webkit-keyframes highlight {
	0% {
		width: 1em;
		margin-top: -0.5em;
		margin-left: -0.5em;
		height: 1em;
	}
	50% {
		width: 5em;
		margin-top: -2.5em;
		margin-left: -2.5em;
		height: 5em;
	}
	100% {
		width: 1em;
		margin-top: -0.5em;
		margin-left: -0.5em;
		height: 1em;
	}
}	

.loadingOverlay {
	cursor: wait;
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(42, 42, 42, 0.8) 50% 50% no-repeat;
}

.loaderTitle {
	text-align: center;
	color: white;
	position: relative;
	width: 100%;
	font-family: "Agency FB", "Oswald", sans-serif;
	text-shadow: 0 0 0.6em rgb(179, 179, 179);
}

.loadTextContainer {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -2em;
}

.loader {
	animation-name: magic;
	-webkit-animation-name: magic;
	animation-duration: 2s;
	-webkit-animation-duration: 2s;
	animation-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
	-webkit-animation-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
	animation-delay: 0s;
	-webkit-animation-delay: 0s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-direction: normal;
	-webkit-animation-direction: normal;
	animation-fill-mode: none;
	-webkit-animation-fill-mode: none;
	animation-play-state: running;
	-webkit-animation-play-state: running;
	position: relative;
	width: 1em;
	height: 1em;
	background: white;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	margin: 0 auto;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

@keyframes magic {
	0% {
		border-top-left-radius: 0em;
		border-bottom-left-radius: 0em;
		border-top-right-radius: 0em;
		border-bottom-right-radius: 0em;
		left: 0em;
	}
	25% {
		border-top-left-radius: 1em;
		border-bottom-left-radius: 1em;
		border-top-right-radius: 0em;
		border-bottom-right-radius: 0em;
		left: -5em;
	}
	50% {
		border-top-left-radius: 0em;
		border-bottom-left-radius: 0em;
		border-top-right-radius: 0em;
		border-bottom-right-radius: 0em;
		left: 0em;
	}
	75% {
		border-top-left-radius: 0em;
		border-bottom-left-radius: 0em;
		border-top-right-radius: 1em;
		border-bottom-right-radius: 1em;
		left: 5em;
	}
	100% {
		border-top-left-radius: 0em;
		border-bottom-left-radius: 0em;
		border-top-right-radius: 0em;
		border-bottom-right-radius: 0em;
		left: 0em;
	}
}

@-webkit-keyframes magic {
	0% {
		border-top-left-radius: 0em;
		border-bottom-left-radius: 0em;
		border-top-right-radius: 0em;
		border-bottom-right-radius: 0em;
		left: 0em;
	}
	25% {
		border-top-left-radius: 1em;
		border-bottom-left-radius: 1em;
		border-top-right-radius: 0em;
		border-bottom-right-radius: 0em;
		left: -5em;
	}
	50% {
		border-top-left-radius: 0em;
		border-bottom-left-radius: 0em;
		border-top-right-radius: 0em;
		border-bottom-right-radius: 0em;
		left: 0em;
	}
	75% {
		border-top-left-radius: 0em;
		border-bottom-left-radius: 0em;
		border-top-right-radius: 1em;
		border-bottom-right-radius: 1em;
		left: 5em;
	}
	100% {
		border-top-left-radius: 0em;
		border-bottom-left-radius: 0em;
		border-top-right-radius: 0em;
		border-bottom-right-radius: 0em;
		left: 0em;
	}
}

.searchBox {
	right: 0.2em;
	position: absolute;
	top: 0.25em
}

#searchField {
	width: 33.899em;
	height: 1.17em;
	font-size: 0.9em;
	padding: 0.15em;
	padding-left: 1.3em;
	margin: 0;
	border: 0.1em solid #B4B4B4;
	font-family: "Roboto", sans-serif;
}

#miningLink {
	padding: 0 !important;
}

.searchBox #inputIndicator {
	position: absolute;
	left: 0.5em;
	top: 0.2em;
	font-weight: bold;
	color: #B4B4B4;
}

#searchField:focus + #inputIndicator {
	color: black;
}

#searchField:hover + #inputIndicator {
	color: black;
}

/* jQuery autocomplete plugin start */
.autocomplete-suggestions {
	text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1); font-family: "Roboto", sans-serif;
	
	/* core styles should not be changed */
	position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; font-size: 0.9em; color: #333; font-family: "Roboto", sans-serif;}
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }
/* jQuery autocomplete plugin end */

.navContainer #showUniverseMap {
	position: absolute;
	left: 0.45em;
	top: 0.45em;
	cursor: pointer;
	text-decoration: none;
}

.navContainer #helpLink {
	position: absolute;
	color: white;
	left: 0.45em;
	top: 0.45em;
	text-decoration: none;
}

.navContainer i, .navContainer .infoSpace {
	text-decoration: none;
}

.navContainer .infoText {
	text-decoration: underline;
}

.hzGridLine h3, .vertGridLine h3, #nullGridCell {
	color: white;
	font-family: "Agency FB", "Oswald", sans-serif;
	z-index: 1;
}

.hzGridLine h3 {
	position: relative;
	top: -0.5em;
	left: 0.6em;
}

.vertGridLine h3 {
	position: relative;
	left: 0.6em;
	top: -0.8em;
}

#nullGridCell {
	position: absolute;
	top: -0.75em;
	left: 0.55em;
}

#navSystemTitle {
	position: absolute;
	top: 0.45em;
    left: 7.5em;
    right: 37em;
	text-align: center;
}

.configMenu h2 {
	font-size: 1em;
	width: 100%;
	height: 1em;
	display: inline-block;
	margin: 0;
	padding: 0.25em 0.25em 0.25em 0.5em;
	box-sizing: border-box;
}

.configOption {
	position: relative;
	float: left;
	left: 0;
	padding: 0.25em;
	top: 0;
	padding-left: 0.5em;
	padding-right: 0.5em;
	display: inline-table;
}

.configOption label {
	white-space: nowrap;
}

#dsaceConnectionContainer {
	float: left;
	padding: 0.5em;
}

#dsaceConnectionContainer input {
	border: 0.1em solid white;
	box-sizing: border-box;
	vertical-align: 0.2em;
	margin-right: 0.2em;
	background: rgba(0,0,0,0.3);
}

#dsaceConnectionContainer .fa.fa-check-square-o {
	display: none;
}

#dsaceConnectionContainer .fa.fa-square-o {
	display: inline-block;
}

.fileReaderLoaded #dsaceConnectionContainer .fa.fa-check-square-o {
	display: inline-block;
}

.fileReaderLoaded #dsaceConnectionContainer .fa.fa-square-o {
	display: none;
}

.mineableIcon {
	height: 1em;
	width: 1em;
	display: inline-block;
	vertical-align: text-top;
	position: relative;
	left: 0.225em;
}

input.switch:empty {
	margin-left: -4000px;
}

input.switch:empty ~ label {
	position: relative;
	float: left;
	line-height: 1.6em;
	text-indent: 4em;
	margin: 0.2em 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.switch:empty ~ label:before, 
input.switch:empty ~ label:after {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 3.6em;
	background-color: rgb(185, 185, 185);
	border-radius: 0.3em;
	box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
	-webkit-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}

input.switch:empty ~ label:after {
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 0.15em;
	box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switch:checked ~ label:before {
	background-color: #4395FF;
}

input.switch:checked ~ label:after {
	margin-left: 2.1em;
}

.object.playerShip {
	height: 1.2em;
	width: 1.2em;
	margin-left: -0.6em;
	margin-top: -0.6em;
	background-image: url("../textures/csp2.png");
	background-size: cover;
	display: none;
	cursor: pointer;
}

@keyframes blink {
	0% { background-image: url("../textures/csp2.png"); }
	50% { background-image: none; }
	100% { background-image: url("../textures/csp2.png"); }
}

.object.playerShip label {
	display: none !important;
}

.map.showOldPlayerShipPositions .object.playerShip {
	display: block;
}

.contents .internalNickname {
	display: none;
}

.map.showInternalNicknames .internalNickname {
	display: inline;
}

.object.playerShip.latestPos {
	display: block;
	animation: blink steps(1) 1000ms infinite alternate;
}

.qtip-zMap {
	font-family: "Agency FB", "Oswald", sans-serif;
	font-size: 14px !important;
	line-height: 14px !important;
}

.qtip-zMap .qtip-content {
	text-align: center !important;
	white-space: nowrap !important;
}

.scrollUpButton {
	background: rgba(0,0,0,0.4);
	margin: 0.35em;
	border-radius: 0.5em;
	border: 0.15em solid rgb(30, 166, 197);
}

.shortLabel, .shortestLabel {
	display: none;
}

.scrollUpButton:hover {
	background: rgba(0,0,0,0.6);
	box-shadow: 0em 0em 0.5em 0em rgb(30, 166, 197);
}

/* responsive styles start */

@media (min-width: 65em) {
	body.responsive {
		padding: 0;
	}
	
	.navContainer {
		position: fixed !important;
		left: 0 !important;
		right: 0 !important;
		border-bottom: 0.2em solid rgb(30, 166, 197) !important;
	}
	
	.map {
		top: 0.0em !important;
	}
	
	.infocardContainer span.infocardText {
		padding-left: 0;
		padding-right: 0;
	}
	
	.configMenu, .mapLegend {
		position: fixed !important;
		margin: 0px auto !important;
		left: 0 !important;
		right: 0 !important;
		top: 2.2em !important;
	}
}

body.responsive .map {
	height: 100vw;
	width: 100vw;
}

@media (max-aspect-ratio: 1/1) {
	body.responsive .map {
		height: calc(100vh - 2.4em);
		width: calc(100vh - 2.4em);
	}
}

@media (min-aspect-ratio: 1/1) and (min-width: 65em) and (min-height: 40em) {
	body.responsive .mapContainer {
		position: absolute;
		top: 2.4em;
		margin: 0 auto;
		height: calc(100vh - 2.4em);
		width: calc(100vh - 2.4em);
		border: 0.2em rgb(25, 47, 96) solid;
		box-sizing: border-box;
	}
	
	body.responsive .map {
		height: 100%;
		width: 100%;
	}
}



body.responsive {
	min-width: 0;
	min-height: 0;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

@media (max-width: 64.999999em) {
	/* responsive option styles */
	
	body.responsive {
		padding: 2em;
		padding-top: 0;
		padding-bottom: 0.5em;
	}
	
	body.responsive.screenshotMode .navContainer #screenshotButton {
		top: 5em;
	}
	
	body.responsive .shortLabel {
		display: inline;
	}
	
	body.responsive .longLabel {
		display: none;
	}
	
	body.responsive #configButton, body.responsive #screenshotButton, body.responsive #helpLink, body.responsive #showUniverseMap, body.responsive #navSystemTitle {
		float: left;
		left: auto;
		right: auto;
		top: auto;
		padding: 0.45em;
		position: relative;
	}
	
	body.responsive .navContainer .infoText {
		display: none;
	}
	
	body.responsive .navContainer, body.responsive .configMenu {
		left: 0 !important;
		right: 0 !important;
		margin: 0 auto;
	}
	
	body.responsive .mapLegend {
		left: 0 !important;
		right: 0 !important;
		margin: 0 auto;
		top: 2.2em;
	}
	
	body.responsive .mapLegend {
		width: 90vw;
	}
	
	body.responsive #navSystemTitle {
		display: none !important;
	}
	
	body.responsive .configMenu {
		top: 2.2em;
	}
	
	body.responsive .searchBox {
		right: 0.2em;
		position: relative;
		top: 0.25em;
		margin-left: 5.35em;
		margin-right: 0.25em;
		width: auto;
		height: 1.5em;
		left: 0;
	}
	
	body.responsive #searchField {
		width: 100%;
		position: absolute;
		right: 0;
	}
	
	body.responsive #inputIndicator {
		left: -1em;
	}
}

@media (max-width: 40em) {
	body.responsive .shortLabel {
		display: none;
	}
	
	body.responsive .longLabel {
		display: none;
	}

	body.responsive .shortestLabel {
		display: inline;
		left: 1.25em;
		top: -0.15em;	
	}
}


/* responsive styles end */

/* temporary fixes */

/* no temporary fixes! : ) wait no : ( */

.system[data-system-nickname="st03"] label {
	transform: translateX(-0.35em);
	-webkit-transform: translateX(-0.35em);
}

.system[data-system-nickname="li07"] label {
	transform: translateX(-0.35em);
	-webkit-transform: translateX(-0.35em);
}

.system[data-system-nickname="li02"] label {
	transform: translateX(-0.35em);
	-webkit-transform: translateX(-0.35em);
}

.system[data-system-nickname="li15"] label {
	transform: translateX(-0.35em);
	-webkit-transform: translateX(-0.35em);
}

.system[data-system-nickname="st05"] label {
	transform: translateX(0.4em);
	-webkit-transform: translateX(0.4em);
}

.system[data-system-nickname="ew18"] label {
	transform: translateX(0.25em);
	-webkit-transform: translateX(0.25em);
}

.system[data-system-nickname="ew85"] label {
	transform: translateX(0.25em);
	-webkit-transform: translateX(0.25em);
}

.system[data-system-nickname="rh12"] label {
	transform: translateX(1.25em);
	-webkit-transform: translateX(1.25em);
}

.system[data-system-nickname="ew06"] label {
	transform: translateX(0.4em);
	-webkit-transform: translateX(0.4em);
}

.system[data-system-nickname="st04"] label {
	transform: translateX(0.3em);
	-webkit-transform: translateX(0.3em);
}

.system[data-system-nickname="st03b"] label {
	transform: translateX(0.45em);
	-webkit-transform: translateX(0.45em);
}

.system[data-system-nickname="st39"] label {
	transform: translateX(-0.3em);
	-webkit-transform: translateX(-0.3em);
}

.system[data-system-nickname="st02c"] label {
	transform: translateX(0.25em);
	-webkit-transform: translateX(0.25em);
}

.system[data-system-nickname="bw71"] label {
	transform: translateX(-0.3em);
	-webkit-transform: translateX(-0.3em);
}

.system[data-system-nickname="hi20"] label {
	transform: translateX(-0.3em);
	-webkit-transform: translateX(-0.3em);
}

.system[data-system-nickname="st02"] label {
	transform: translateX(0.3em);
	-webkit-transform: translateX(0.3em);
}

.system[data-system-nickname="ga02"] label {
	transform: translateX(-0.5em);
	-webkit-transform: translateX(-0.5em);
}

.system[data-system-nickname="ga01"] label {
	transform: translateX(-0.2em);
	-webkit-transform: translateX(-0.2em);
}

.system[data-system-nickname="ew15"] label {
	transform: translateX(0.2em);
	-webkit-transform: translateX(0.2em);
}

.system[data-system-nickname="st08"] label {
	transform: translateX(-0.4em);
	-webkit-transform: translateX(-0.4em);
}
/* end temporary fixes */

/* qTip2 v2.2.1 | Plugins: tips viewport modal | Styles: core basic css3 | qtip2.com | Licensed MIT | Sun Aug 09 2015 06:46:08 */
.qtip{position:absolute;left:-28000px;top:-28000px;display:none;max-width:280px;min-width:50px;font-size:10.5px;line-height:12px;direction:ltr;box-shadow:none;padding:0}.qtip-content{position:relative;padding:5px 9px;overflow:hidden;text-align:left;word-wrap:break-word}.qtip-titlebar{position:relative;padding:5px 35px 5px 10px;overflow:hidden;border-width:0 0 1px;font-weight:700}.qtip-titlebar+.qtip-content{border-top-width:0!important}.qtip-close{position:absolute;right:-9px;top:-9px;z-index:11;cursor:pointer;outline:0;border:1px solid transparent}.qtip-titlebar .qtip-close{right:4px;top:50%;margin-top:-9px}* html .qtip-titlebar .qtip-close{top:16px}.qtip-icon .ui-icon,.qtip-titlebar .ui-icon{display:block;text-indent:-1000em;direction:ltr}.qtip-icon,.qtip-icon .ui-icon{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;text-decoration:none}.qtip-icon .ui-icon{width:18px;height:14px;line-height:14px;text-align:center;text-indent:0;font:400 bold 10px/13px Tahoma,sans-serif;color:inherit;background:-100em -100em no-repeat}.qtip-default{border:1px solid #F1D031;background-color:#FFFFA3;color:#555}.qtip-default .qtip-titlebar{background-color:#FFEF93}.qtip-default .qtip-icon{border-color:#CCC;background:#F1F1F1;color:#777}.qtip-default .qtip-titlebar .qtip-close{border-color:#AAA;color:#111}.qtip-light{background-color:#fff;border-color:#E2E2E2;color:#454545}.qtip-light .qtip-titlebar{background-color:#f1f1f1}.qtip-dark{background-color:#505050;border-color:#303030;color:#f3f3f3}.qtip-dark .qtip-titlebar{background-color:#404040}.qtip-dark .qtip-icon{border-color:#444}.qtip-dark .qtip-titlebar .ui-state-hover{border-color:#303030}.qtip-cream{background-color:#FBF7AA;border-color:#F9E98E;color:#A27D35}.qtip-cream .qtip-titlebar{background-color:#F0DE7D}.qtip-cream .qtip-close .qtip-icon{background-position:-82px 0}.qtip-red{background-color:#F78B83;border-color:#D95252;color:#912323}.qtip-red .qtip-titlebar{background-color:#F06D65}.qtip-red .qtip-close .qtip-icon{background-position:-102px 0}.qtip-red .qtip-icon,.qtip-red .qtip-titlebar .ui-state-hover{border-color:#D95252}.qtip-green{background-color:#CAED9E;border-color:#90D93F;color:#3F6219}.qtip-green .qtip-titlebar{background-color:#B0DE78}.qtip-green .qtip-close .qtip-icon{background-position:-42px 0}.qtip-blue{background-color:#E5F6FE;border-color:#ADD9ED;color:#5E99BD}.qtip-blue .qtip-titlebar{background-color:#D0E9F5}.qtip-blue .qtip-close .qtip-icon{background-position:-2px 0}.qtip-shadow{-webkit-box-shadow:1px 1px 3px 1px rgba(0,0,0,.15);-moz-box-shadow:1px 1px 3px 1px rgba(0,0,0,.15);box-shadow:1px 1px 3px 1px rgba(0,0,0,.15)}.qtip-bootstrap,.qtip-rounded,.qtip-tipsy{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}.qtip-rounded .qtip-titlebar{-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0}.qtip-youtube{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 0 3px #333;-moz-box-shadow:0 0 3px #333;box-shadow:0 0 3px #333;color:#fff;border:0 solid transparent;background:#4A4A4A;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#4A4A4A),color-stop(100%,#000));background-image:-webkit-linear-gradient(top,#4A4A4A 0,#000 100%);background-image:-moz-linear-gradient(top,#4A4A4A 0,#000 100%);background-image:-ms-linear-gradient(top,#4A4A4A 0,#000 100%);background-image:-o-linear-gradient(top,#4A4A4A 0,#000 100%)}.qtip-youtube .qtip-titlebar{background-color:transparent}.qtip-youtube .qtip-content{padding:.75em;font:12px arial,sans-serif;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#4a4a4a, EndColorStr=#000000);-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4a4a4a,EndColorStr=#000000);"}.qtip-youtube .qtip-icon{border-color:#222}.qtip-youtube .qtip-titlebar .ui-state-hover{border-color:#303030}.qtip-jtools{background:#232323;background:rgba(0,0,0,.7);background-image:-webkit-gradient(linear,left top,left bottom,from(#717171),to(#232323));background-image:-moz-linear-gradient(top,#717171,#232323);background-image:-webkit-linear-gradient(top,#717171,#232323);background-image:-ms-linear-gradient(top,#717171,#232323);background-image:-o-linear-gradient(top,#717171,#232323);border:2px solid #ddd;border:2px solid rgba(241,241,241,1);-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 0 12px #333;-moz-box-shadow:0 0 12px #333;box-shadow:0 0 12px #333}.qtip-jtools .qtip-titlebar{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171, endColorstr=#4A4A4A);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A)"}.qtip-jtools .qtip-content{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A, endColorstr=#232323);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323)"}.qtip-jtools .qtip-content,.qtip-jtools .qtip-titlebar{background:0 0;color:#fff;border:0 dashed transparent}.qtip-jtools .qtip-icon{border-color:#555}.qtip-jtools .qtip-titlebar .ui-state-hover{border-color:#333}.qtip-cluetip{-webkit-box-shadow:4px 4px 5px rgba(0,0,0,.4);-moz-box-shadow:4px 4px 5px rgba(0,0,0,.4);box-shadow:4px 4px 5px rgba(0,0,0,.4);background-color:#D9D9C2;color:#111;border:0 dashed transparent}.qtip-cluetip .qtip-titlebar{background-color:#87876A;color:#fff;border:0 dashed transparent}.qtip-cluetip .qtip-icon{border-color:#808064}.qtip-cluetip .qtip-titlebar .ui-state-hover{border-color:#696952;color:#696952}.qtip-tipsy{background:#000;background:rgba(0,0,0,.87);color:#fff;border:0 solid transparent;font-size:11px;font-family:'Lucida Grande',sans-serif;font-weight:700;line-height:16px;text-shadow:0 1px #000}.qtip-tipsy .qtip-titlebar{padding:6px 35px 0 10px;background-color:transparent}.qtip-tipsy .qtip-content{padding:6px 10px}.qtip-tipsy .qtip-icon{border-color:#222;text-shadow:none}.qtip-tipsy .qtip-titlebar .ui-state-hover{border-color:#303030}.qtip-tipped{border:3px solid #959FA9;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background-color:#F9F9F9;color:#454545;font-weight:400;font-family:serif}.qtip-tipped .qtip-titlebar{border-bottom-width:0;color:#fff;background:#3A79B8;background-image:-webkit-gradient(linear,left top,left bottom,from(#3A79B8),to(#2E629D));background-image:-webkit-linear-gradient(top,#3A79B8,#2E629D);background-image:-moz-linear-gradient(top,#3A79B8,#2E629D);background-image:-ms-linear-gradient(top,#3A79B8,#2E629D);background-image:-o-linear-gradient(top,#3A79B8,#2E629D);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8, endColorstr=#2E629D);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D)"}.qtip-tipped .qtip-icon{border:2px solid #285589;background:#285589}.qtip-tipped .qtip-icon .ui-icon{background-color:#FBFBFB;color:#555}.qtip-bootstrap{font-size:14px;line-height:20px;color:#333;padding:1px;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box}.qtip-bootstrap .qtip-titlebar{padding:8px 14px;margin:0;font-size:14px;font-weight:400;line-height:18px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0}.qtip-bootstrap .qtip-titlebar .qtip-close{right:11px;top:45%;border-style:none}.qtip-bootstrap .qtip-content{padding:9px 14px}.qtip-bootstrap .qtip-icon{background:0 0}.qtip-bootstrap .qtip-icon .ui-icon{width:auto;height:auto;float:right;font-size:20px;font-weight:700;line-height:18px;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20)}.qtip-bootstrap .qtip-icon .ui-icon:hover{color:#000;text-decoration:none;cursor:pointer;opacity:.4;filter:alpha(opacity=40)}.qtip:not(.ie9haxors) div.qtip-content,.qtip:not(.ie9haxors) div.qtip-titlebar{filter:none;-ms-filter:none}.qtip .qtip-tip{margin:0 auto;overflow:hidden;z-index:10}.qtip .qtip-tip,x:-o-prefocus{visibility:hidden}.qtip .qtip-tip,.qtip .qtip-tip .qtip-vml,.qtip .qtip-tip canvas{position:absolute;color:#123456;background:0 0;border:0 dashed transparent}.qtip .qtip-tip canvas{top:0;left:0}.qtip .qtip-tip .qtip-vml{behavior:url(#default#VML);display:inline-block;visibility:visible}#qtip-overlay{position:fixed;left:0;top:0;width:100%;height:100%}#qtip-overlay.blurs{cursor:pointer}#qtip-overlay div{position:absolute;left:0;top:0;width:100%;height:100%;background-color:#000;opacity:.7;filter:alpha(opacity=70);-ms-filter:"alpha(Opacity=70)"}

/*
*  Remodal - v1.1.1
*  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
*  http://vodkabears.github.io/remodal/
*
*  Made by Ilya Makarov
*  Under MIT License
*/

/* ==========================================================================
Remodal's necessary styles
========================================================================== */

/* Hide scroll bar */

html.remodal-is-locked {
	overflow: hidden;
	
	-ms-touch-action: none;
	touch-action: none;
}

/* Anti FOUC */

.remodal,
[data-remodal-id] {
	display: none;
}

/* Necessary styles of the overlay */

.remodal-overlay {
	position: fixed;
	z-index: 9999;
	top: -5000px;
	right: -5000px;
	bottom: -5000px;
	left: -5000px;
	
	display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
	position: fixed;
	z-index: 10000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	display: none;
	overflow: auto;
	
	text-align: center;
	
	-webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
	display: inline-block;
	
	height: 100%;
	margin-left: -0.05em;
	
	content: "";
}

/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal {
	position: relative;
	
	outline: none;
	
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.remodal-is-initialized {
	/* Disable Anti-FOUC */
	display: inline-block;
}

/*
*  Remodal - v1.1.1
*  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
*  http://vodkabears.github.io/remodal/
*
*  Made by Ilya Makarov
*  Under MIT License
*/

/* ==========================================================================
Remodal's default mobile first theme
========================================================================== */

/* Default theme styles for the background */

.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
	-webkit-filter: blur(3px);
	filter: blur(3px);
}

/* Default theme styles of the overlay */

.remodal-overlay {
	background: rgba(43, 46, 56, 0.9);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
	-webkit-animation-name: remodal-overlay-opening-keyframes;
	animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
	-webkit-animation-name: remodal-overlay-closing-keyframes;
	animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the wrapper */

.remodal-wrapper {
	padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */

.remodal {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 10px;
	padding: 0.75em;
	
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
	-webkit-animation-name: remodal-opening-keyframes;
	animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
	-webkit-animation-name: remodal-closing-keyframes;
	animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
	vertical-align: middle;
}

/* Close button */

/*.remodal-close {
	position: absolute;
	top: 0;
	left: 0;
	
	display: block;
	overflow: visible;
	
	width: 35px;
	height: 35px;
	margin: 0;
	padding: 0;
	
	cursor: pointer;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	text-decoration: none;
	
	color: #95979c;
	border: 0;
	outline: 0;
	background: transparent;
}

.remodal-close:hover,
.remodal-close:focus {
	color: #2b2e38;
}

.remodal-close:before {
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
	font-size: 25px;
	line-height: 35px;
	
	position: absolute;
	top: 0;
	left: 0;
	
	display: block;
	
	width: 35px;
	
	content: "\00d7";
	text-align: center;
}*/

/* Dialog buttons */

/*.remodal-confirm,
.remodal-cancel {
	font: inherit;
	
	display: inline-block;
	overflow: visible;
	
	min-width: 110px;
	margin: 0;
	padding: 12px 0;
	
	cursor: pointer;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	
	border: 0;
	outline: 0;
}

.remodal-confirm {
	color: #fff;
	background: #81c784;
}

.remodal-confirm:hover,
.remodal-confirm:focus {
	background: #66bb6a;
}

.remodal-cancel {
	color: #fff;
	background: #e57373;
}

.remodal-cancel:hover,
.remodal-cancel:focus {
	background: #ef5350;
}*/

/* Remove inner padding and border in Firefox 4+ for the button tag. */

.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
	padding: 0;
	
	border: 0;
}

/* Keyframes
========================================================================== */

@-webkit-keyframes remodal-opening-keyframes {
	from {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
		
		opacity: 0;
	}
	to {
		-webkit-transform: none;
		transform: none;
		
		opacity: 1;
		
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}

@keyframes remodal-opening-keyframes {
	from {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
		
		opacity: 0;
	}
	to {
		-webkit-transform: none;
		transform: none;
		
		opacity: 1;
		
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}

@-webkit-keyframes remodal-closing-keyframes {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		
		opacity: 1;
	}
	to {
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
		
		opacity: 0;
		
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}

@keyframes remodal-closing-keyframes {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		
		opacity: 1;
	}
	to {
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
		
		opacity: 0;
		
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes remodal-overlay-opening-keyframes {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes remodal-overlay-closing-keyframes {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

/* Media queries
========================================================================== */

@media only screen and (min-width: 641px) {
	.remodal {
		max-width: 700px;
	}
}

/* IE8
========================================================================== */

/*.lt-ie9 .remodal-overlay {
	background: #2b2e38;
}*/

.lt-ie9 .remodal {
	width: 700px;
}